.track_item{
  grid-column: 1/5;
  padding: 15px 0 15px 0;
  margin:-5px;
  position: relative;
  height:50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index:1;
  cursor: pointer;
}

.disk_cover{
    padding-left: 30px;
    z-index:1;
}

.track_inf{
  flex-grow: 1;
  font-size: 100%;
  color:var(--light_grey);
  padding-left: 30px;
  z-index:1;
  text-overflow: ellipsis;
  max-width: 200px;
  white-space: nowrap;
  overflow:hidden;
}

.track_bkg{
    background-color: var(--white);
    opacity: 0.5;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.track_item:hover .track_bkg{
    opacity: 0.7;
    background-color: var(--blue);
}
.track_item:hover *{
    color: white;
    font-size: 120%;
    border-color: white;
}
.track_item:hover .greyLike {
    background-image: url('../../../shared/imgs/whiteLike.png');
}
.track_item:hover .greyHeart {
    background-image: url('../../../shared/imgs/whiteHeart.png');
}

.track_bkg_c{
    opacity: 0.7;
    background-color: var(--blue);
}

.toWhite_c{
    color: white;
    font-size: 120%;
}

.like{
   cursor:pointer;
   height:40px;
   width:40px;
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   z-index:1;
    margin-right: 20px;
}

.greyLike{
    background-image: url('../../../shared/imgs/greyLike.png');
    height:30px;
    width:30px;
}

.greyHeart{
    background-image: url('../../../shared/imgs/greyHeart.png');
}


.whiteLike{
    background-image: url('../../../shared/imgs/whiteLike.png');
    height:30px;
    width:30px;
}

.whiteHeart{
    background-image: url('../../../shared/imgs/whiteHeart.png');
}





